{% extends 'base.html' %}
{% block conteudo %}
<form method="post">
    <div class="mb-3">
        <label>Nome:</label>
        <input type="text" name="nome" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Preço:</label>
        <input type="number" step="0.01" name="preco" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Quantidade:</label>
        <input type="number" name="quantidade" class="form-control" required>
    </div>
    <button class="btn btn-success">Salvar</button>
    <a href="{{ url_for('index') }}" class="btn btn-secondary">Voltar</a>
</form>
{% endblock %}
